.footermain{
      display:flex;
      flex-direction: column;
      align-items: center;
}
.footer{
      font-size: 15px;
      display: flex;
      justify-content:space-between;
      width:100%;
      max-width: 1024px;
     
}
.listItems{
    list-style: none;
    color:#0071c2;
    padding: 6px;
}