.FProparty{
      display:flex;
      justify-content:space-between;
      width:100%;
      max-width: 1024px;
      gap: 10px;
}
.propartyItem{
      flex:1;
      gap:10px;
      overflow: hidden;
}
.image{
      height:200px;
      border-radius: 5px;
}